* {
    margin: 0;
    padding: 0;
}

header, footer{
    background-color: green;
    line-height: 60px;
}

footer p {
    font-size: 20px;
}

nav {
    text-align: right;
}

li {
    display: inline;
    margin-right: 30px;
    font-size: 18px;
    color: white;
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: rgb(206, 206, 146);
    text-align: center;
}

form {
    font-size: 50px;
}

#page-title {
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 5px solid black;
    background-color: greenyellow;
}

#contact {
    margin-top: 20px;
    border-top: 5px solid black;
    padding-top: 10px;
    background-color: rgb(251, 177, 169);
    height: 400px;
}